<div style="overflow-x: hidden; width: 800px;">
	<div class="table-header">
		<p>{{options.tableName}}</p>
	</div>
	<div style="padding-top:1%; padding-left:2%;">
		<button data-ng-click="save()">Save</button>
		<button data-ng-click="showEditor()" data-ng-disabled="!anySelectedRows()">Edit</button>
		<button data-ng-click="remove()" data-ng-disabled="!anySelectedRows()">Remove</button>
		<div style="display:inline-block;">
			<label for="turnOnPaging{{options.tableName}}"><p>Show All</p></label>
			<input type="checkbox" id="turnOnPaging{{options.tableName}}" data-ng-model="paging.showAll"/>
		</div>
	</div>
	<div>
		<table class="a table table-stripped table-condensed table-responsive" >
			<thead>
				<tr>
					<th class="col-md-{{column.bootstrapWidth}} text-center" data-ng-repeat="column in columns">
						<div><p data-ng-click="sort(column.name)">{{column.displayName}}</p></div>		
						<div data-ng-if="column.type=='text'">
							<input type="text" data-ng-model="searchFilters[column.name]"/>
						</div>
						<div data-ng-if="column.type=='number'" class="number-search-filter">
							<label for="{{colunm.name}}from"><p>From</p></label>
							<input id="{{colunm.name}}from" type="text" data-ng-model="searchFilters[column.name].from"/>
							<label for="{{colunm.name}}to"><p>To</p></label>
							<input type="text" id="{{colunm.name}}to" data-ng-model="searchFilters[column.name].to"/>
						</div>					
					</th>
				</tr>
			</thead>
			<tbody style="overflow-x: hidden; overflow-y: auto; max-height: 200px; display: block;">
					<tr data-ng-click="selectRow(record)" data-ng-repeat="record in records" data-ng-class="{'selected-row': record.selected}">
						
							<td class="col-md-{{column.bootstrapWidth}} text-center" data-ng-repeat="column in columns">
								<div contenteditable data-ng-model="record[column.name]"></div>
							</td>
					</tr>
			</tbody>
		</table>
	</div>
	<div class="table-footer">
		<div data-ng-show="!paging.showAll" class="row text-center">
			<div class="pull-left" style="margin-left:3%; display: inline-block;">
				<p>Page size: </p>
				<div contenteditable data-ng-model="paging.size" class="page-size"></div>
			</div>
			<button style="margin-left: -95px;" data-ng-disabled="!isPreviousPageAvailable()" data-ng-click="goToTheFirstPage()">&lt&lt</button>
			<button data-ng-disabled="!isPreviousPageAvailable()" data-ng-click="goToThePreviousPage()">&lt</button>
			<p>{{paging.page}}</p>
			<button data-ng-disabled="!isNextPageAvailable()" data-ng-click="goToTheNextPage()">&gt</button>
			<button data-ng-disabled="!isNextPageAvailable()" data-ng-click="goToTheLastPage()">&gt&gt</button>			
		<div>
	</div>
</div>
<div class="modal fade" id="editorPopUp">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit user</h4>
      </div>
      <div class="modal-body">
      	<form class="form-horizontal">
	        <div data-ng-repeat="column in columns" class="form-group">
	        	<label class="col-sm-4 col-xs-4 col-md-4 control-label" for="{{column.name}}">{{column.displayName}}</label>
	        	<div class="col-sm-7 col-xs-7 col-md-7">
	        		<input class="form-control" style="margin-right: 5%; margin-left: 5%;"  type="text" data-ng-model="editable[column.name]" id="{{column.name}}" />
	        	</div>
	        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-ng-click="edit()">Save changes</button>
      </div>
    </div>
  </div>
</div>
