.number-search-filter input[type='text'] {
	width: 30px;
}

.number-search-filter p {
	margin: 0;	
}

.number-search-filter label {
	margin-bottom: 0;	
}

.scrollable-table tr {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.table-header p, .table-header input[type='checkbox'] {
	vertical-align: middle;
}

.table-header {
	overflow-y: hidden;
	padding-left: 3%;
	background-color: #336699;
	width: 100%;
	padding: 0 1% 0 1%;
}

.table-header p, .table-footer p {
	margin-bottom: 5px;
	margin-top: 5px;
	font-weight: bold;
	color: white;
	display: inline-block;
}

.table-footer {	
	background-color: #336699;
	min-height: 5px;
}

.scrollable {
	overflow: auto;
	max-height: 400px;
}

.page-size {
	display: inline-block;
	color: white;
	width: 20px;
	font-weight: bold;
}

.selected-row {
	background-color: #00FFCC;
}

.search-fields p, .search-fields input[type='text'] {
	font-weight: normal;
}

.table-actions {
	padding-top:1%; 
	padding-left:2%;
}

.table-actions div {
	display: inline-block;
}

.table-body {
	overflow-x: hidden; 
	overflow-y: auto; 
	max-height: 200px; 
	display: block;
}

.footer-paging-size {
	margin-left:3%; 
	display: inline-block;
}

.popup-item-value {
	margin-right: 5%; 
	margin-left: 5%;
}

.paging-location {
	margin-left: -95px;
}

.custom-error {
	background-color: #FF3333;
}